<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6ysYcd-j_aDhuhin4is5FfbbObm-g8uw</string>
	<key>GCM_SENDER_ID</key>
	<string>834007746519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmk.taxiapp</string>
	<key>PROJECT_ID</key>
	<string>taxiapp-6761d</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiapp-6761d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834007746519:ios:26343b5a9d3fd530202d92</string>
	<key>DATABASE_URL</key>
	<string>https://taxiapp-6761d-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>